.suggestions {
	display: none;
	margin: 0;
	padding: 0;
	background: #fff;
	list-style: none;
  text-align: left;
  flex-grow: 1;
}

.suggestions--are-visible {
	display: block;
}

.suggestion {
  padding: 0 0.5rem;
}

.suggestion--is-active {
  background: red;
}

.button {
  border: 0;
  background: none;
  text-align: left;
}
