.input {
	margin: 0;
	padding: 0.5rem;
	display: block;
	border: 1px solid gray;
	vertical-align: middle;
	white-space: normal;
	background: #fff;
	line-height: 1;
}

.search {
	width: 100%;
}

.suggestions {
	display: none;
	margin: 0;
	padding: 0;
	background: #fff;
	list-style: none;
	text-align: left;
}

.suggestions--are-visible {
	display: block;
}
