.form {
  margin-bottom: 2rem;
}

.title {
  margin: 0 0 0.5rem 0;
  text-align: left;
  font-weight: normal;
  font-size: 1.25rem;
  color: white;
}

.form-row {
  position: relative;
  display: flex;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
}
