.form {
  margin-bottom: 1rem;
}

.title {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  color: white;
}

.form-row {
  position: relative;
  display: flex;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
}
