.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: calc(10px + 2vmin);
}

.title {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  color: white;
}

.subtitle {
  margin: 0 0 0.5rem 0;
  font-size: 1.15rem;
  color: white;
  text-align: left;
  font-weight: normal;
}
