.information {
  display: flex;
  margin: 0;
  padding: 0.5rem;
  flex-wrap: wrap;
  text-align: left;
  background: #fff;
  color: black;
}

.title {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  color: white;
  text-align: left;
  font-weight: normal;
}

.number,
.origin,
.destination {
  margin-left: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  min-width: 30%;
}

.value {
  margin-left: 0.25rem;
}

.breaker {
  width: 100%;
}
