.app {
  display: flex;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 360px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  font-size: calc(10px + 2vmin);
}

.main {
  width: 100%;
}

.title {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  color: white;
}

.subtitle {
  margin: 0 0 0.5rem 0;
  font-size: 1.15rem;
  color: white;
  text-align: left;
  font-weight: normal;
}
