.form {
  margin-bottom: 1rem;
}

.form-row {
  position: relative;
  display: flex;
}

.loader {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 0.5rem;
  width: auto;
}
